.main-container{
        overflow: hidden; /* Hide scrollbars */
    .gameboard{
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .player1{
            p{
                color: rgb(83,163,83);
            }
        }
        .player2{
            p{
                color: rgb(230,109,109);
            }
        }
        .gamefield{
            margin-left: 50px;
            margin-right: 50px;
            max-width: 24vw;
            .subfield{
                cursor: pointer;
                height:8vw;
                width: 8vw;
                border: 1px solid #fff;
                &.player1 {
                    background-color: rgb(83,163,83);
                }
                &.player2 {
                    background-color: rgb(230,109,109);
                }




            }


        }
    }
}