<div class="main-container">
    <h1 class="mat-display-2" style="font-weight: 900; text-align : center; margin: 15px 0; color: #fff;">Tic Tac Toe</h1>
    <div class="field d-flex justify-content-center">
        <p class="current-status mat-display-1" style="color:#fff">Click the button to start</p>
    </div>
    <div *ngIf="this.game.gameStatus === 0" class="field d-flex justify-content-center difficulty-buttons" style="width:100%; margin-bottom: 25px;">
        <button (click)="setDifficultyEasy()" mat-raised-button color="accent" class="easy-button button">Easy</button>
        <button (click)="setDifficultyNormal()" mat-raised-button color="accent" class="normal-button button">Normal</button>
        <button (click)="setDifficultyImpossible()" mat-raised-button color="accent" class="impossible-button button">Impossible</button>
    </div>
    <div *ngIf="this.game.gameStatus === 0" class="field d-flex justify-content-center" style="width:100%;">
        <button (click)="startGame()" mat-raised-button color="accent" class="start-game-button">Start Game</button>
    </div>
    <div *ngIf="this.game.gameStatus !== 0" class="field d-flex justify-content-center" style="width:100%">
        <button (click)="resetGame()" mat-raised-button color="accent" class="start-game-button">Play Again?</button>
    </div>  

    <div *ngIf="this.game.gameStatus !== 0" class="gameboard">
        <div class="players player1 align-self-center">
            <p class="mat-body-1" style="font-size: 3vw; font-weight: 700; margin: 0 0 50px 10vw;">Player 1</p>
            <p class="mat-body-1 score1" style="font-size: 2vw; font-weight: 700; margin: 50px 0 0 10vw; text-align: center;">Score: 0</p>
        </div>
        <div class="gamefield container-fluid">
            <div class="row">
                <div (click) = "clickSubField($event)" position = "0" id = "0" class="subfield col-4"></div>
                <div (click) = "clickSubField($event)" position = "1" id = "1" class="subfield col-4"></div>
                <div (click) = "clickSubField($event)" position = "2" id = "2" class="subfield col-4"></div>
            </div>
            <div class="row">
                <div (click) = "clickSubField($event)" position = "3" id = "3" class="subfield col-4"></div>
                <div (click) = "clickSubField($event)" position = "4" id = "4" class="subfield col-4"></div>
                <div (click) = "clickSubField($event)" position = "5" id = "5" class="subfield col-4"></div>
            </div>
            <div class="row">
                <div (click) = "clickSubField($event)" position = "6" id = "6" class="subfield col-4"></div>
                <div (click) = "clickSubField($event)" position = "7" id = "7" class="subfield col-4"></div>
                <div (click) = "clickSubField($event)" position = "8" id = "8" class="subfield col-4"></div>
            </div>
        </div>

        <div class="players player2 align-self-center">
            <p class="mat-body-1" style="font-size: 3vw; font-weight: 700; margin: 0 10vw 50px 0;">Player 2</p>
            <p class="mat-body-1 score2" style="font-size: 2vw; font-weight: 700; margin: 50px 10vw 0 0; text-align: center;">Score: 0</p>
        </div>
    </div>
</div>